:root {
    --dark-blue: rgb(22, 43, 65);
}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Cabin';
    color: ghostwhite;
    background-color: var(--dark-blue);
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin/Cabin-Regular.ttf');
}

@font-face {
    font-family: 'Pixel';
    src: url('./fonts/Pixel.ttf');
}

div.environment {
    position: relative;
    background-color: skyblue;
    width: 1200px;
    height: 700px;
    border: 5px solid black;
    overflow: hidden;
    background-image: url('https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png');
    background-size: 105%;
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
    z-index: 0;
}

.couple-tube {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.tube {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tube .headtube {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #636301, #A5E82E);
    border: 2px solid black;
}

.tube .bodytube {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #636301, #A5E82E);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.progress {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: 'Pixel';
    font-size: 64px;
    z-index: 2;
}

div.gameOver {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

div.initial  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 999;
}

div.initial.show  {
    visibility: visible;
}
p.gameOver, p.clickMe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 7.5rem;
    font-family: 'Pixel';
    color: ghostwhite;
}
p.points {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 2rem;
    font-family: 'Pixel';
    color: ghostwhite;
}

b {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}